:root {
    --page-background-color: #FFFFFF;
    --brand-color: #4D5AE5;
    --heading-color: #2E2F42;
    --address-color: #434455;
    --pressed-state-color: #404BBF;
    --success-color: #31D0AA;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-backgrounds: #F4F4FD;
    --font-size: 16px;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--address-color);
    background-color: var(--page-background-color);
}

.button-item:hover {
    background-color: var(--pressed-state-color);
}

.button-item:active,
.button-item:focus {
    background-color: var(--brand-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: var(--font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--heading-color);
}

.page-nav .nav-link:hover {
    color: var(--pressed-state-color);
}

.nav-link:active,
.nav-link:focus {
    color: var(--pressed-state-color);
}

.address-block {
    font-style: normal;
}

.address {
    font-family: "Roboto", sans-serif;
    font-size: var(--font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--address-color);
}

.address:hover {
    color: var(--pressed-state-color);
}

.address:active,
.address:focus {
    color: var(--pressed-state-color);
}

.main-block {
    background-color: var(--heading-color);
}

.hero {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--page-background-color);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--brand-color);
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo-color-footer {
    color: var(--light-backgrounds);
}

.logo-color {
    color: var(--heading-color);
}

.button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--page-background-color);
    background-color: var(--brand-color);
    cursor: pointer;
}

.button:hover {
    background-color: var(--pressed-state-color);
}

.button:active,
.button:focus {
    background-color: var(--pressed-state-color);
}

.button-item {
    font-family: "Roboto", sans-serif;
    color: var(--brand-color);
    line-height: 1.5;
    font-size: var(--font-size);
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: var(--light-backgrounds);
    cursor: pointer;
}

.button-item:hover {
    color: var(--page-background-color);
    background-color: var(--pressed-state-color);
}

.button-item:active,
.button-item:focus {
    color: var(--page-background-color);
    background-color: var(--pressed-state-color);
}

.about-us .section-heading {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--heading-color);
}

.about-us .text {
    font-family: "Roboto", sans-serif;
    font-size: var(--font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--heading-color);
}

.team-block {
    background-color: var(--light-backgrounds);
}

.employees .name {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--heading-color);
}

.employees .details {
    font-family: "Roboto", sans-serif;
    font-size: var(--font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.card {
    background-color: var(--page-background-color);
}

.portfolio-images .name {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--heading-color);
}

.portfolio-images .details {
    font-family: "Roboto", sans-serif;
    font-size: var(--font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--address-color);
}

.footer {
    background-color: var(--heading-color);
}

.text-footer {
    font-family: "Roboto", sans-serif;
    font-size: var(--font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-backgrounds);
}